{% extends 'Back/layouts/app.html.twig' %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
{% endblock %}

{% block body %}
    <h1>Information index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>PublishedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for information in information %}
            <tr>
                <td>{{ information.id }}</td>
                <td>{{ information.title }}</td>
                <td>{{ information.content }}</td>
                <td>{{ information.createdAt ? information.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ information.updatedAt ? information.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ information.publishedAt ? information.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('information_show', {'id': information.id}) }}">show</a>
                    <a href="{{ path('information_edit', {'id': information.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('information_new') }}">Create new</a>
{% endblock %}
