{% extends 'Back/layouts/app.html.twig' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ path('dashboard')}}">Home</a></li>
<li class="breadcrumb-item"><a href="{{ path('information_index')}}">Informations</a></li>
<li class="breadcrumb-item active">View #{{ information.id }}</li>
{% endblock %}

{% block body %}
<div class="card m-auto w-75">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Information</h4>
    </div>
    <div class="card-body">
        <div class="clear mb-2">
            <a class="btn btn-default btn-sm" role="button" href="{{ path('information_index') }}">back to list</a>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ information.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ information.title }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ information.content }}</td>
                </tr>
                <tr>
                    <th>CreatedAt</th>
                    <td>{{ information.createdAt ? information.createdAt|ago : '' }}</td>
                </tr>
                <tr>
                    <th>UpdatedAt</th>
                    <td>{{ information.updatedAt ? information.updatedAt|ago : '' }}</td>
                </tr>
                <tr>
                    <th>PublishedAt</th>
                    <td>{{ information.publishedAt ? information.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <a class="btn btn-warning" role="button" href="{{ path('information_edit', {'id': information.id}) }}">edit</a>
            {{ include('Back/information/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
