{% extends 'Front/layouts/app.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block title %}Forgotten Password!{% endblock %}

{% block body %}
<div class="container">
<div class="row">
  <div class="card col-md-6 m-auto login-container">
    <div class="card-body">
        <h1 class="h3 mb-3 font-weight-normal">Forgotten Password</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            {% if error is defined and error is not null %}
                <div class="mt-6 text-center text-red italic">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
        {{ form_end(form) }}
    </form>
  </div>
</div>
</div>
</div>
{% endblock %}
