{% extends 'Back/layouts/app.html.twig' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item"><a href="#">Library</a></li>
<li class="breadcrumb-item active" aria-current="page">Data</li>
{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block body %}
<div class="col-lg-11 m-auto">
    <div class="card dashboard-item dashboard-small-list">
      <div class="row">
        <div class="col-md-9 card-header card-header-{{ colorClass }}">
            <h4 class="card-title">{{ project.name }}</h4>
        </div>
        <div class="col-md-2 mt-2">
            <a class="btn btn-primary btn-block" role="button" href="{{ path('teacher_project_groups', { 'id': project.id}) }}">Project groups</a>
        </div>
     </div>
        <div class="card-body table-responsive">
            <div class="clear mb-2">
                <a class="btn btn-default btn-sm" role="button" href="{{ path('teacher_course_show', { 'id': course.id }) }}">back to list</a>
            </div>
            <p>Project Type : {{ project.type }}</p>
            <p>Description : {{ project.description|raw }} </p>
        </div>
    </div>
</div>
<div class="col-lg-11 m-auto">
    <div class="card dashboard-item dashboard-small-list">
        <div class="row">
        <div class="card-header card-header-{{ colorClass }} col-md-12">
            <h6 class="card-title">Manage this project</h6>
        </div>
        </div>
        <div class="card-body table-responsive">
            <a class="btn btn-default btn-sm" role="button">Delete the project</a>
            <a class="btn btn-default btn-sm" role="button">Edit project</a>
            <a class="btn btn-default btn-sm" href="{{ path('teacher_project_new', { 'id': course.id }) }}" role="button">Add files</a>
            <a class="btn btn-default btn-sm" role="button">Manage files</a>
        </div>
    </div>
</div>
{% for step in project.projectSteps|sort %}
<div class="col-lg-11 m-auto">
    <div class="card dashboard-item dashboard-small-list">
        <div class="row">
        <div class="card-header card-header-{{ colorClass }} col-md-9">
            <h6 class="card-title">Step {{ step.stepOrder }} : {{ step.name }}</a></h6>
        </div>
        <div class="col-md-2 mt-2">
            <h5> Due date : {{step.endAt|date('d/m/y h:i') }} </h5>
        </div>
        </div>
        <div class="card-body table-responsive">
            {{ step.description|raw }}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
