{% extends 'Back/layouts/app.html.twig' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item"><a href="#">Library</a></li>
<li class="breadcrumb-item active" aria-current="page">Data</li>
{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block body %}
<div class="col-lg-11 m-auto">
    <div class="card dashboard-item dashboard-small-list">
        <div class="card-header card-header-{{ colorClass }}">
            <h5 class="card-title">{{ project.name }}</h4>
        </div>
        <div class="card-body table-responsive">
            <div class="clear mb-2">
                <a class="btn btn-default btn-sm" role="button" href="{{ path('teacher_project_show', { 'id': project.id }) }}">back to list</a>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Type</th>
                        <td>{{ project.type }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ project.name }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ project.description|raw }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% for group in groups %}
<div class="col-lg-11 m-auto">
    <div class="card dashboard-item dashboard-small-list">
        <div class="card-body table-responsive">
            {% for student in group.getStudents %}
            {{ student.fullname }}
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
{% if(groups is empty) %}
<div class="col-lg-11 m-auto">
    <div class="card dashboard-item dashboard-small-list">
        <div class="card-body table-responsive text-center">
            <h5> No groups at this moment </h5>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
