<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  <link rel="stylesheet" type="text/css" href="{{ asset('build/css/app.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('build/css/style.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    {% set colorClass = color.getColorByRole() %}

    <div class="main-panel">

      {% if is_granted('ROLE_SUPERADMIN') %}
      {% include "Back/layouts/sidebar_admin.html.twig" %}
      {% elseif is_granted('ROLE_ADMINISTRATIVE') %}
      {% include "Back/layouts/sidebar_school.html.twig" %}
      {% elseif is_granted('ROLE_TEACHER') %}
      {% include "Back/layouts/sidebar_teacher.html.twig" %}
      {% elseif is_granted('ROLE_STUDENT') %}
      {% include "Back/layouts/sidebar_student.html.twig" %}
      {% endif %}

        {% set breadcrumb = block('breadcrumb') %}
        {% embed "Back/layouts/navbar.html.twig" %}
            {% block breadcrumb %}{{ breadcrumb|raw }}{% endblock %}
        {% endembed %}

        <div class="content container-fluid">
              {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-dismissible fade show alert-{{ label }}">
                        {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                {% endfor %}
              {% endfor %}
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    <script type="text/javascript" >
        const elem = document.getElementById('search-input');
        elem.onblur = () => {document.getElementById('search-icon').style.color = '#e0e0e0';};
        elem.onfocus = () => {document.getElementById('search-icon').style.color = "#878F99";};
    </script>
    <script type="text/javascript" src="{{ asset('build/js/app.js ') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
