{% extends 'Back/layouts/app.html.twig' %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{{ path('dashboard_teacher') }} ">Home</a></li>
      <li class="breadcrumb-item active">Courses</li>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('crud') }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/app') }}
{% endblock %}

{% block body %}
<div class="col-lg-3 m-auto">
    <div class="select_mate" data-mate-select="active" >
    <select name="" onchange="" onclick="return false;" id="">
    <option value=""  >2018-2019</option>
    <option value="1">2019-2020</option>
      </select>
    <p class="selecionado_opcion"  onclick="open_select(this)" ></p><span onclick="open_select(this)" class="icon_select_mate" ><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
        <path d="M0-.75h24v24H0z" fill="none"/>
    </svg></span>
    <div class="cont_list_select_mate">
      <ul class="cont_select_int">  </ul>
    </div>
      </div>
</div>
<div class="col-lg-11 m-auto">
    <div class="card dashboard-item dashboard-small-list">
        <div class="card-header card-header-{{ colorClass }}">
            <h4 class="card-title">Courses</a></h4>
      </div>
        <div class="card-body table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Classroom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.title }}</td>
                <td>{{ course.classroom.name }}</td>
                <td>
                    <a class="btn btn-default btn-sm" role="button" href="{{ path('teacher_course_show', {'id': course.id}) }}">View</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock %}
