{% extends 'Back/layouts/app.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('student') }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block breadcrumb %}
{% if is_granted('ROLE_TEACHER') %}
<li class="breadcrumb-item"><a href="{{ path('dashboard_teacher') }} ">Home</a></li>
{% else %}
<li class="breadcrumb-item"><a href="{{ path('dashboard') }} ">Home</a></li>
{% endif %}
<li class="breadcrumb-item active">Courses</li>
{% endblock %}

{% block body %}
<div class="col-lg-3 m-auto">
    <div class="select_mate" data-mate-select="active" >
    <select name="" onchange="" onclick="return false;" id="">
    <option value=""  >2018-2019</option>
    <option value="1">2019-2020</option>
      </select>
    <p class="selecionado_opcion"  onclick="open_select(this)" ></p><span onclick="open_select(this)" class="icon_select_mate" ><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
        <path d="M0-.75h24v24H0z" fill="none"/>
    </svg></span>
    <div class="cont_list_select_mate">
      <ul class="cont_select_int">  </ul>
    </div>
      </div>
</div>
{% for course in courses %}
<div class="col-lg-11 m-auto">
    <div class="card dashboard-item dashboard-small-list">
        <div class="card-header card-header-{{ colorClass }}">
        {% if is_granted('ROLE_TEACHER') %}
            <h4 class="card-title"><a href="{{ path('teacher_course_show',{'id': course.id}) }}">{{ course.title }}</a></h4>
        {% else %}
            <h4 class="card-title"><a href="{{ path('student_course_show',{'id': course.id}) }}">{{ course.title }}</a></h4>
        {% endif %}
        </div>
        <div class="card-body table-responsive">
      <div class="col-md-12 text-right">
        {% if is_granted('ROLE_TEACHER') %}
        <h5>{{ course.classroom.name }}</h5>
        {% else %}
        <h5>Teacher : {{ course.teacher.getFullname }}</h5>
        {% endif %}
      </div>
    </div>
    {% if is_granted('ROLE_STUDENT') %}
    <div class="row  p-4">
      <div class="col-md-6">
        <h5> Next exams : </h5>
          <ul class="list-group">
              {% for exam in course.exams %}
              <li class="list-group-item">
                  {% if is_granted('ROLE_TEACHER') %}
                  <a href="{{ path('teacher_exam_show', { 'id':exam.id }) }}">
                      {{ exam.type|upper }} : "{{ exam.name }}" on {{ exam.date|date('d/m/y') }}
                  </a>
                  {% else %}
                  <a href="{{ path('student_exam_show', { 'id':exam.id }) }}">
                      {{ exam.type|upper }} : "{{ exam.name }}" on {{ exam.date|date('d/m/y') }}
                  </a>
                  {% endif %}
              </li>
              {% else %}
              <li class="list-group-item"> No exam for this course at this moment </li>
              {% endfor %}
        </ul>
      </div>
      <div class="col-md-6">
        <h5> Next projects : </h5>
          <ul class="list-group">
              {% for project in course.projects %}
              <li class="list-group-item">
                  {% if is_granted('ROLE_TEACHER') %}
                  <a href="{{ path('teacher_project_show', { 'id':project.id }) }}">
                      {{ project.name }}
                  </a>
                  {% else %}
                  <a href="{{ path('student_project_show', { 'id':project.id }) }}">
                      {{ project.name }}
                  </a>
                  {% endif %}
              </li>
              {% else %}
              <li class="list-group-item"> No exam for this course at this moment </li>
              {% endfor %}
        </ul>
    </div>
  </div>
  {% endif %}
</div>
</div>
{% else %}
<div class="card m-auto p-5 w-75">
  No course at this moment
</div>
{% endfor %}
{% endblock %}
