{% extends 'Back/layouts/app.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('student') }}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ path('dashboard') }} ">Home</a></li>
<li class="breadcrumb-item active">Courses</li>
{% endblock %}

{% block body %}
{% for course in courses %}
<div class="card w-90 course-card">

  <div class="card-body">
    <div class="row">
      <h5 class="card-title col-md-8">
        <a href="{{ path('student_course_show', {'id': course.id }) }}">
          {{ course.title }}
        </a>
      </h5>
      <div class="col-md-4">
        <p>Teacher : {{ course.teacher.getFullname }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h6> Next exams : </h6>
          <ul class="list-group">
              {% for exam in course.exams %}
              <li class="list-group-item">
                  <a href="{{ path('student_exam_show', { 'id':exam.id }) }}">
                      {{ exam.type|upper }} : "{{ exam.name }}" on {{ exam.date|date('d/m/y') }}
                  </a>
              </li>
              {% else %}
              <li class="list-group-item"> No exam for this course at this moment </li>
              {% endfor %}
        </ul>
      </div>
      <div class="col-md-6">
        <h6> Next projects : </h6>
          <ul class="list-group">
              {% for project in course.projects %}
              <li class="list-group-item">
                  <a href="{{ path('student_project_show', { 'id':project.id }) }}">
                      {{ project.name }}
                  </a>
              </li>
              {% else %}
              <li class="list-group-item"> No exam for this course at this moment </li>
              {% endfor %}
        </ul>
    </div>
  </div>
</div>

{% else %}
<div class="card m-auto p-5 w-75">
  No course at this moment
</div>
{% endfor %}
{% endblock %}
