{% extends 'Back/layouts/app.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('student') }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block breadcrumb %}
{% if is_granted('ROLE_TEACHER') %}
<li class="breadcrumb-item"><a href="{{ path('dashboard_teacher') }} ">Home</a></li>
{% else %}
<li class="breadcrumb-item"><a href="{{ path('dashboard') }} ">Home</a></li>
{% endif %}
<li class="breadcrumb-item active">Courses</li>
{% endblock %}

{% block body %}
{% if courses is not empty %}
    <div class="col-3">
        {% include 'Back/dashboard/items/documents.html.twig' %}
        <div class="card shadow mt-5 ml-3 mr-3">
            <div class="card-header py-3 ml-3">
                <h6 class="m-0 font-weight-bold text-primary">Course Planner</h6>
            </div>
            <div class="card-body mb-2">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mb-4" style="width: 19rem;margin-top:-20px;margin-bottom:-40px;" src="https://us.123rf.com/450wm/simmmax/simmmax1904/simmmax190400028/123640786-stock-vector-online-digital-library-isometric-online-book-shop-e-learning-ebook-vector-illustration-.jpg?ver=6" alt="">
                </div>
                <p>Here are all your Courses for this year. You can see all projects and exams for each Course. If there is a problem or a mistake, please report it to your administrative.</p>
                <a style="color:#a96dad;" target="_blank" rel="nofollow" href="#">Go to your Dashboard →</a>
            </div>
        </div>
    </div>
    <div class="col-9 row">
    {% for course in courses %}
        <div class="col-4">
            <div class="card dashboard-item dashboard-small-list">
                <div class="card-header card-header-{{ colorClass }}">
                    {% if is_granted('ROLE_TEACHER') %}
                        <h4 class="card-title"><a href="{{ path('teacher_course_show',{'id': course.id}) }}">{{ course.title }}</a></h4>
                    {% else %}
                        <h4 class="card-title"><a href="{{ path('student_course_show',{'id': course.id}) }}">{{ course.title }}</a></h4>
                    {% endif %}
                </div>
                <div class="card-body table-responsive">
                    <div class="col-md-12 text-right">
                        {% if is_granted('ROLE_TEACHER') %}
                            <h5>{{ course.classroom.name }}</h5>
                        {% else %}
                            <h5>Teacher : {{ course.teacher.getFullname }}</h5>
                        {% endif %}
                    </div>
                </div>
                {% if is_granted('ROLE_STUDENT') %}
                    <div class="row  p-4">
                        <div class="col-md-6">
                            <h5> Next exams : </h5>
                            <ul class="list-group">
                                {% for exam in course.exams %}
                                    <li class="list-group-item">
                                        {% if is_granted('ROLE_TEACHER') %}
                                            <a href="{{ path('teacher_exam_show', { 'id':exam.id }) }}">
                                                {{ exam.type|upper }} : "{{ exam.name }}" on {{ exam.date|date('d/m/y') }}
                                            </a>
                                        {% else %}
                                            <a href="{{ path('student_exam_show', { 'id':exam.id }) }}">
                                                {{ exam.type|upper }} : "{{ exam.name }}" on {{ exam.date|date('d/m/y') }}
                                            </a>
                                        {% endif %}
                                    </li>
                                {% else %}
                                    <li class="list-group-item"> No exam for this course at this moment </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5> Next projects : </h5>
                            <ul class="list-group">
                                {% for project in course.projects %}
                                    <li class="list-group-item">
                                        {% if is_granted('ROLE_TEACHER') %}
                                            <a href="{{ path('teacher_project_show', { 'id':project.id }) }}">
                                                {{ project.name }}
                                            </a>
                                        {% else %}
                                            <a href="{{ path('student_project_show', { 'id':project.id }) }}">
                                                {{ project.name }}
                                            </a>
                                        {% endif %}
                                    </li>
                                {% else %}
                                    <li class="list-group-item"> No exam for this course at this moment </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
<div class="card m-auto p-5 w-75">
  No course at this moment
</div>
{% endif %}
{% endblock %}
