{% extends 'Back/layouts/app.html.twig' %}

{% block breadcrumb %}
{% if is_granted('ROLE_TEACHER') %}
<li class="breadcrumb-item"><a href="{{ path('dashboard_teacher') }}">Home</a></li>
<li class="breadcrumb-item"><a href="{{ path('teacher_course_index') }}">Courses</a></li>
{% else %}
<li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Home</a></li>
<li class="breadcrumb-item"><a href="{{ path('student_course_index') }}">Courses</a></li>
{% endif %}
<li class="breadcrumb-item active">{{ course.title }}</li>
{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block body %}
<div class="col-lg-11 m-auto">
    <div class="card dashboard-item dashboard-small-list">
        <div class="card-header card-header-{{ colorClass }}">
            <h4 class="card-title">{{ course.title }}</h4>
        </div>
        <div class="card-body table-responsive">
            <div class="row">
                <div class="clear mb-2 col-md-9">
                    {% if is_granted('ROLE_TEACHER') %}
                    <a class="btn btn-default btn-sm" role="button" href="{{ path('teacher_course_index') }}">back to my courses</a>
                    {% else %}
                    <a class="btn btn-default btn-sm" role="button" href="{{ path('student_course_index') }}">back to my courses</a>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {% if is_granted('ROLE_TEACHER') %}
                    <h5 class="card-title">{{ course.classroom.name }}</h5>
                    {% else %}
                    <h5> Teacher : {{ course.teacher.fullname }}</h5>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12">
            {{ course.description|raw }}
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="card dashboard-item dashboard-small-list">
        <div class="card-header card-header-{{ colorClass }} small-card-header">
            <h5 class="card-title">Exams</h5>
        </div>
        <div class="card-body table-responsive">
            <ul class="list-group">
                {% for exam in course.exams %}
                <li class="list-group-item">
                    <a href="{{ path('student_exam_show', { 'id':exam.id }) }}">
                        {{ exam.type|upper }} : "{{ exam.name }}" on {{ exam.date|date('d/m/y') }}
                    </a>
                </li>
                {% else %}
                <li class="list-group-item"> No exam for this course at this moment </li>
                {% endfor %}
            </ul>
        </div>
        {% if is_granted('ROLE_TEACHER') %}
        <a class="btn btn-error btn-sm" href="{{ path('teacher_exam_new', { 'id': course.id }) }}">Add new</a>
        {% endif %}
    </div>
</div>
<div class="col-lg-6">
    <div class="card dashboard-item dashboard-small-list small-card-header">
        <div class="card-header card-header-{{ colorClass }} small-card-header">
            <h5 class="card-title">Projects</h5>
        </div>
        <div class="card-body table-responsive">
                <div class="mt-2">
                    <ul class="list-group">
                        {% for project in course.projects %}
                        <li class="list-group-item">
                            {{ project.name }}
                        </li>
                        {% else %}
                        <li class="list-group-item"> No project for this course at this moment </li>
                        {% endfor %}
                  </ul>
                </div>
        {% if is_granted('ROLE_TEACHER') %}
        <a class="btn btn-error btn-sm" href="{{ path('teacher_project_new', { 'id': course.id }) }}">Add new</a>
        {% endif %}
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="card dashboard-item dashboard-small-list small-card-header">
        <div class="card-header card-header-{{ colorClass }} small-card-header">
            <h5 class="card-title">Grades</h5>
        </div>
        <div class="card-body table-responsive">
                <div class="mt-2">
                    <ul class="list-group">
                        {% for project in course.projects %}
                        <li class="list-group-item">
                            {{ project.name }}
                        </li>
                        {% else %}
                        <li class="list-group-item"> No project for this course at this moment </li>
                        {% endfor %}
                  </ul>
                </div>
        </div>
    </div>
</div>
{% endblock %}
