<div class="col-lg-6">
    <div class="card dashboard-item dashboard-checklist">
        <div class="card-header card-header-tabs card-header-{{ colorClass }}">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper row">
                    <div class="nav-tabs-title my-auto">Deadlines:</div>
                    <ul class="nav nav-tabs col" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#profile" data-toggle="tab">
                                <i class="material-icons align-middle">movie_filter</i> Project
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#messages" data-toggle="tab">
                                <i class="material-icons align-middle">assignment</i> Practical Work
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="profile">
                    <table class="table">
                        <tbody>
                        {% for step in lastProjects %}
                        <tr>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" disabled checked>
                                        <span class="form-check-sign">
                                        <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td>{{ step.name }}</td>
                            <td>{{ step.project.course.title }}</td>
                            <td class="td-actions text-right text-align-center">
                                <div class="custom-date">
                                    <span class="card-title">{{ step.endAt|date('d/m/Y H:i') }}</span>
                                </div>
                            </td>
                        </tr>
                        {% else %}
                        <tr> <td> No project at this moment </td> </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="messages">
                    <table class="table">
                        <tbody>
                        {% for tutorial in lastTutorials %}
                        <tr>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" disabled checked>
                                        <span class="form-check-sign">
                                        <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td>{{ tutorial.name }}</td>
                            <td>{{ tutorial.course.title }}</td>
                            <td class="td-actions text-right text-align-center">
                                <div class="custom-date">
                                    <span class="card-title">{{ tutorial.createdAt|date('d/m/Y') }}</span>
                                </div>
                            </td>
                        </tr>
                        {% else %}
                        <tr> <td> No tutorial at this moment </td> </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
