{% extends 'Back/layouts/app.html.twig' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Home</a></li>
<li class="breadcrumb-item"><a href="{{ path('promotion_index') }}">Course</a></li>
<li class="breadcrumb-item active">{{ course.title }}</li>
{% endblock %}

{% block body %}
<div class="card m-auto w-90">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Course</h4>
    </div>
    <div class="card-body">
        <div class="clear mb-2">
            <a class="btn btn-default btn-sm" role="button" href="{{ path('promotion_index') }}">back to list</a>
        </div>
        <table cl
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ course.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ course.title }}</td>
                </tr>
                <tr>
                    <th>Classroom</th>
                    <td>{{ course.classroom.name }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ course.status }}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <a class="btn btn-warning" role="button" href="{{ path('course_edit', {'id': course.id}) }}">edit</a>
            {{ include('Back/course/_delete_form.html.twig') }}
        </div>
        <div class="mt-2">
            <h5> Grades : </h5>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
