{% extends 'Back/layouts/app.html.twig' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ path('dashboard_school') }}">Home</a></li>
<li class="breadcrumb-item active">Events</li>
{% endblock %}

{% block body %}
<div class="card m-auto w-90">
    <div class="card-header card-header-primary row">
        <h4 class="card-title col-md-10">Events</h4>
        <div class="col-md-2">
            <a class="btn btn-primary" role="button" href="{{ path('event_new') }}">Create new</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.content }}</td>
                <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(events) }}
    </div>
</div>{% endblock %}
