{% extends 'Back/layouts/app.html.twig' %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{{ path('dashboard')}}">Home</a></li>
      <li class="breadcrumb-item">My profile</li>
{% endblock %}

{% block body %}
<div class="card m-auto w-75">
    <div class="card-header card-header-primary">
        <h4 class="card-title">My profile</h4>
    </div>
    <div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
        </tbody>
    </table>
        <div class="mt-2">
            <div class="col-md-6">
            <h5> My address </h5>
            <p>{{ user.number }}{{ user.streetname }}</p>
            <p>{{ user.postalCode }}</p>
            <p>{{ user.city }}</p>
            </div>
        </div>

</div>
    <a class="btn btn-error btn-md" role="button" href="{{ path('user_profile_edit') }}">edit my profile</a>
{% endblock %}
