{% extends 'Back/layouts/app.html.twig' %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ path('teacher_course_index') }}">Course</a></li>
      <li class="breadcrumb-item"><a href="{{ path('teacher_course_show', { 'id': course.id }) }}">{{ course.title }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ exam.type|upper}}: {{ exam.name }} </li>
{% endblock %}

{% block body %}
<div class="card m-auto w-90">
    <div class="card-header card-header-primary">
        <h4 class="card-title">{{ exam.name }}</h4>
    </div>
    <div class="card-body">
        <div class="clear mb-2">
            <a class="btn btn-default btn-sm" role="button" href="{{ path('teacher_course_show', { 'id': course.id}) }}">back to list</a>
        </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exam.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ exam.type }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ exam.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ exam.description|raw }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('teacher_exam_edit', {'id': exam.id}) }}">edit</a>
    {{ include('Back/exam/teacher/_delete_form.html.twig') }}
</div>
</div>
{% endblock %}
