{% extends 'Back/layouts/app.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('crud') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/crud') }}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item"><a href="#">Library</a></li>
<li class="breadcrumb-item active" aria-current="page">Data</li>
{% endblock %}

{% block body %}
<div class="card m-auto w-75">
  <div class="card-header card-header-primary row">
    <div class="col-md-10">
      <h4 class="card-title">Edit classroom</h4>
    </div>
    <div class="col-md-2">
      {{ include('Back/classroom/_delete_form.html.twig') }}
    </div>
  </div>
  <div class="card-body">
    <div class="clear mb-2">
      <a class="btn btn-default btn-sm" role="button" href="{{ path('classroom_index') }}">back to list</a>
    </div>
    {{ include('Back/classroom/_form.html.twig', {'button_label': 'Update'}) }}
  </div>
</div>
{% endblock %}
