{% extends 'Back/layouts/app.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('crud') }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/crud') }}
{% endblock %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{{ path('dashboard')}}">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ path('promotion_index')}}">Promotions</a></li>
      <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block body %}
<div class="col-lg-11 m-auto">
    <div class="card dashboard-item dashboard-small-list">
      <div class="row">
        <div class="col-md-10 card-header card-header-{{ colorClass }}">
            <h4 class="card-title">Edit promotion</a></h4>
        </div>
        <div class="col-md-1 mt-2">
          {{ include('Back/promotion/_delete_form.html.twig') }}
        </div>
      </div>
        <div class="card-body table-responsive">
      <div class="col-md-2">
      </div>
    <div class="clear mb-2">
        <a class="btn btn-default btn-sm" role="button" href="{{ path('promotion_index') }}">back to list</a>
    </div>
      {{ include('Back/promotion/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>
{% endblock %}
