{% extends 'Back/layouts/app.html.twig' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ path('dashboard_school') }}">Home</a></li>
<li class="breadcrumb-item active">Promotions</li>
{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block body %}
<div class="col-lg-11 m-auto">
    <div class="card dashboard-item dashboard-small-list">
      <div class="row">
        <div class="col-md-9 card-header card-header-{{ colorClass }}">
            <h4 class="card-title">Promotions</a></h4>
        </div>
        <div class="col-md-2 mt-2">
            <a class="btn btn-primary btn-block" role="button" href="{{ path('promotion_new') }}">Create new</a>
        </div>
      </div>
        <div class="card-body table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th{% if promotions.isSorted('code') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(promotions, 'Code', 'code') }}
                    </th>
                    <th{% if promotions.isSorted('year') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(promotions, 'Year', 'year') }}
                </th>
                <th>Speciality</th>
                <th>Start</th>
                <th>End</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for promotion in promotions %}
            <tr>
                <td>{{ promotion.code }}</td>
                <td>{{ promotion.year }}</td>
                <td>{{ promotion.speciality }}</td>
                <td>{{ promotion.startedAt ? promotion.startedAt|date('F Y') : '' }}</td>
                <td>{{ promotion.finishedAt ? promotion.finishedAt|date('F Y') : '' }}</td>
                <td>
                    <a class="btn btn-sm btn-default" role="button" href="{{ path('promotion_show', {'id': promotion.id}) }}">show</a>
                    <a class="btn btn-sm btn-warning" role="button" href="{{ path('promotion_edit', {'id': promotion.id}) }}">edit</a>
                </td>
                <td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(promotions) }}
        </div>
    </div>
</div>
</div>
{% endblock %}
