{% extends 'Back/layouts/app.html.twig' %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{{ path('dashboard')}}">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ path('promotion_index')}}">Promotions</a></li>
      <li class="breadcrumb-item active">New</li>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('crud') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/crud') }}
{% endblock %}

{% block body %}
<div class="card m-auto w-75">
      <div class="card-header card-header-primary">
          <h4 class="card-title">Add a new promotion</h4>
    </div>
    <div class="card-body">
          <div class="clear mb-2">
        <a class="btn btn-default btn-sm" role="button" href="{{ path('promotion_index') }}">back to list</a>
    </div>
          {{ include('Back/promotion/_form.html.twig') }}
    </div>
</div>
{% endblock %}
