{% extends 'Back/layouts/app.html.twig' %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ path('student_course_index') }}">Course</a></li>
      <li class="breadcrumb-item"><a href="{{ path('student_course_show', { 'id': course.id }) }}">{{ course.title }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ exam.type|upper}}: {{ exam.name }} </li>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block body %}
<div class="col-lg-11 m-auto">
    <div class="card dashboard-item dashboard-small-list">
        <div class="card-header card-header-{{ colorClass }}">
            <h4 class="card-title">{{ exam.name }}</h4>
        </div>
        <div class="card-body table-responsive">
        <div class="clear mb-2">
            <a class="btn btn-default btn-sm" role="button" href="{{ path('student_course_show', { 'id': course.id}) }}">back to list</a>
        </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ exam.type }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ exam.name }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ exam.date ? exam.date|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ exam.description|raw }}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}
